<!DOCTYPE html>
<html>
	<head>
		<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	</head>
	<body>
		<div class="navbar navbar-inverse" th:fragment="header">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">CheckOTrade</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#" th:href="@{/}">Главная</a></li>
						<li><a th:href="@{/shop}">Магазин</a></li>
						<li><a th:href="@{/account}">Кабинет</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${#authorization.expression('!isAuthenticated()')}">
							<a href="/signin" th:href="@{/signin}">Sign in</a>
						</li>
						<li th:if="${#authorization.expression('isAuthenticated()')}">
							<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Logout</a>
							<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>